.container {
  width: 100%;
  max-width: 1024px; /*максимальная ширина может иметь другое значение*/
  padding: 0 15px;
  margin: 0 auto;
}

h1{
  color: #7FFF00;
  font-size: 200%;
  font-family: Arial, Verdana, sans-serif;
  text-align: center;
}