<!DOCTYPE html>
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{index :: layout(~{::title}, ~{::section})}">-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Сводная информация об устройстве</title>
</head>
<body>
<div th:fragment="device-info">
    <div th:object="${device}">

        <table border="1" id="general-info">
            <thead>
            <tr>
                <td colspan="2">Вся информация об устройстве с заданным серийником</td>
            </tr>
            <tr>
                <td>Свойство</td>
                <td>Значение</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>ID в БД</td>
                <!--                <td th:text="${device.id}"></td>-->
                <td th:text="*{id}"></td>
            </tr>
            <tr>
                <td>diskId</td>
                <td th:text="*{diskId}"></td>
            </tr>
            <tr>
                <td>VID</td>
                <!--                <td th:text="${device.vid}"></td>-->
                <td th:text="*{vid}"></td>
            </tr>
            <tr>
                <td>PID</td>
                <td th:text="*{pid}"></td>
            </tr>
            <tr>
                <td>Serial</td>
                <td th:text="*{serial}"></td>
            </tr>
            <tr>
                <td>Date+time first install</td>
                <td th:text="*{dateTimeFirstInstall}"></td>
            </tr>
            <tr>
                <td>volumeLabelList</td>
                <td>
                    <div th:each="label : ${device.volumeLabelList}">
                        <dev th:text="${label}"> Метки тома</dev>
                    </div>
                </td>
            </tr>
            <tr>
                <td>volumeIdList</td>
                <td>
                    <div th:each="volumeId : ${device.volumeIdList}">
                        <dev th:text="${volumeId}"> ID (серийники) тома</dev>
                    </div>
                </td>
            </tr>
            <tr>
                <td>serialOSGenerated</td>
                <td th:text="*{serialOSGenerated}"></td>
            </tr>
            <tr>
                <td>guid</td>
                <td th:text="*{guid}"></td>
            </tr>
            <tr>
                <td>userProfileList</td>
                <!--                <td th:text="${device.userProfileList}"></td>-->
                <td>
                    <div th:each="profile : ${device.getUserProfileList()}">
                        <div th:text="${profile.profileImagePath}">путь к профилю пользователя</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>vendorName</td>
                <td th:text="*{vendorName}"></td>
            </tr>
            <tr>
                <td>vendorNameByRegistry</td>
                <td th:text="*{vendorNameByRegistry}"></td>
            </tr>
            <tr>
                <td>friendlyName</td>
                <td th:text="*{friendlyName}"></td>
            </tr>
            <tr>
                <td>productName</td>
                <td th:text="*{productName}"></td>
            </tr>
            <tr>
                <td>productNameByRegistry</td>
                <td th:text="*{productNameByRegistry}"></td>
            </tr>
            <tr>
                <td>revision</td>
                <td th:text="*{revision}"></td>
            </tr>
            <tr>
                <td>systemInfoList</td>
                <!--                <td th:text="${device.systemInfoList}"></td>-->
                <td>
                    <div th:each="system : ${device.getSystemInfoList()}">
                        <div th:text="${system.osInfo.osName}"></div>
                    </div>
                </td>
<!--                <table>-->
<!--                    <tr th:each="system : ${device.getSystemInfoList()}">-->
<!--                        <td th:text="${system.osInfo.osName}"></td>-->
<!--                    </tr>-->
<!--                </table>-->

            </tr>
            </tbody>
        </table>
    </div>
</div>
<footer class="container">
    <!--    <div class="container">-->
    <div th:replace="~{fragments/footer :: footer}"></div>
    <!--    </div>-->
</footer>
</body>
</html>