<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Панель навигации</title>
</head>
<body>
    <div th:fragment="menu-panel">
        <nav>
<!--            <ul>-->
<!--                <li><a href="">Главная</a></li>-->
<!--                <li><a href="">О нас</a></li>-->
<!--                <li><a href="">Контакты</a></li>-->

<!--            </ul>-->
            <a href="http://localhost:8080/">Главная</a>
            <a href="http://localhost:8080/usbdevice/85X3Q96QKXLKAUCB">Поиск по серийному номеру.</a>
        </nav>
        <input type="button" name="Имя" title="Title" value="Тестовая кнопка">
    </div>
</body>
</html>